<div class="palm-dark">
    <div class="palm-group">
        <div class="palm-group-title" x-mojo-loc=''>Edit Personal Information</div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title country-code">
                        <div class="label">Name</div>
                        <div id="name" name="name" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>
            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">Password</div>
                        <div id="password" name="password" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">Confirm Password</div>
                        <div id="password-ensure" name="password-ensure" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="submit" x-mojo-element="Button"></div></div>
